#Foto{

    float:right;

             border:solid black 2px;

             margin: 10 0 5 5;

}

 

 

 

body{

 

  width: 900px;

  margin:0 auto;

  background-color:lightblue;

